{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Shop Manager{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('index') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <body>
  <p>
  Welcome to the Shop Manager. This page is under construction, but hopefully we will have something cool to bring you soon.
  </p>
  </body>
{% endblock %}