{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Inventory{% endblock %}</h1>
  {% if g.user %}
  {% endif %}
{% endblock %}

{% block content %}
    <h3>Add Item</h3>
 	<table>
 	<thead>
  	  <tr>
        <th>Item</th>
    	<th>Type</th>
    	<th>Size</th>
    	<th>Price</th>
    	<th>Quantity</th>
  	  </tr>
    </thead>
  <form action="{{ url_for('inventory.create') }}" method="post">
	<tbody>
  	  <tr>
        <td><input type="text" name="item" id="item" value="{{ request.form['item'] }}" required></td>
        <td><input type="text" name="type" id="type" value="{{ request.form['type'] }}"></td>
        <td><input type="text" name="size" id="size" value="{{ request.form['size'] }}"></td>
        <td><input type="text" name="price" id="price" value="{{ request.form['price'] }}"></td>
        <td><input type="text" name="quantity" id="quantity" value="{{ request.form['quantity'] }}"></td>
  	  </tr>
    <input type="submit" value="Create">
   	  {% for item in inventory %}
  	  <tr>
  	  	<td>{{ item['item_name'] }}</td>
  	  	<td>{{ item['item_type'] }}</td>
  	  	<td>{{ item['item_size'] }}</td>
  	  	<td>{{ item['item_price'] }}</td>
  	  	<td>{{ item['item_quantity'] }}</td>
  	  </tr>
  	  	{% if not loop.last %}
    	{% endif %}
  	  {% endfor %}
  	</tbody>
  	</table>
  </form>
{% endblock %}